.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;
  }
  .blockquote-footer::before {
    content: "— ";
  }
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 0.125rem solid rgba(0, 0, 0, 0.125);
  }
  .card-footer:last-child {
    border-radius: 0 0 0.375rem 0.375rem;
  }
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #E1F1FF;
  }
      
  .fa {
    padding:blue;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    color: #E1F1FF;
  }
