<footer class="footer text-center">
    
    <div class="abc">
        <div class="row">
            
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img src="../../assets/flower.png">
            </div>
            
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4" style="margin-top: 80px;">Looking forward to work with you.</h4>
                <a href="https://www.facebook.com/disha.dhingra.dd" class="fa fa-facebook"></a>
                <a href="https://dribbble.com/delusivedreams" class="fa fa-dribbble"></a>
                <a href="https://www.instagram.com/delusivedreams/" class="fa fa-instagram"></a>
                <a href="https://www.pinterest.com/melancholyrains/" class="fa fa-pinterest"></a>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
                <img src="../../assets/flower.png">
            </div>

        </div>
    </div>