.img{
    position: relative;
    text-align: center;
    color: white;
    margin: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: large;
    font-style: italic;
}
.centered{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

p{
    text-align: center;
    font-family: 'Merriweather';
    margin-top: 200px;
    font-size: large;
    font-weight: 700;
}


.intro{
    margin-top: 50px;
}

.skill{
    text-align: center;
    margin-top: 50px;
}

.work{
    text-align: center;
    margin-top: 50px;
}

.one{
    margin-top: 20px;
}

.two{
    margin-top: 20px;
}
