<div class="img">
            <img src="../../assets/s1.png">
            <div class="centered"> <h1>Hi, I'm Disha Dhingra and you've reached my portfolio</h1></div>
        </div>
        
        <div class="container three" >
        <div class="row">
        <div class="intro col-lg-6" > 
            <img src="../../assets/img.png" alt="..." class="img-thumbnail" height="400" width="400">
        </div>
        
        
        <div class="col-lg-6">
          <p>Greetings to all! I'm Disha Dhingra, a BCA student studying in Indraprastha University. I mostly work as a UI/UX Designer and write blogs and poetry in my free time.</p>
        </div>
        
        </div>
        </div>



 <!-- Skills -->
<div class="skill">
    <h1 style= "text-align: center; margin-top: 50px; font-family: 'Abril Fatface';"> Skills</h1>
    
    <div class="container">
      <div class="row">
    <div class="one col-lg-3">
    <img src="../../assets/xd.png" style=" height: 200px; width:200px;">
    </div>
    
    <div class="one col-lg-3">
      <img src="../../assets/ps.png" style=" height: 200px; width:200px;">
      </div>
    
      <div class="one col-lg-3">
        <img src="../../assets/ai.png" style=" height: 200px; width:200px;">
        </div>
    
        <div class="one col-lg-3">
          <img src="../../assets/id.png" style=" height: 200px; width:200px;">
          </div>
    </div>
    </div>
    </div>


    <!-- My work -->
<div class="work">
    <h1 style= "text-align: center; margin-top: 50px; font-family: 'Abril Fatface';"> My Work</h1>
    
    <div class="container">
      <div class="row">
    <div class="two col-lg-3">
    <img src="../../assets/Artboard – 1.png"  style=" height: 200px; width:200px;">
    </div>
    
    <div class="two col-lg-3">
      <img src="../../assets/Artboard – 2.png" style=" height: 200px; width:200px;">
      </div>
    
      <div class="two col-lg-3">
        <img src="../../assets/Artboard – 3.png" style=" height: 200px; width:200px;">
        </div>
    
        <div class="two col-lg-3">
          <img src="../../assets/Artboard – 4.png" style=" height: 200px; width:200px;">
          </div>
    </div>
    </div>
    </div>

    
    <!-- Hobbies -->

    <div class="hobbies">
      <h1 style= "text-align: center; margin-top: 50px; font-family: 'Abril Fatface';"> Hobbies</h1>

    <div class="container" >
      <div class="row">
      <div class="intro col-lg-6" > 
          <img src="../../assets/reading.jpg" alt="..." class="img-thumbnail">
      </div>
      
      
      <div class="col-lg-6">
        <p>Reading is one of my hobbies in which I find solace. I've been reading since I was a kid. The genre I like the most is fiction and poetry.</p>
      </div>
      
      </div>


      <div class="container" >
        <div class="row">
        <div class="intro col-lg-6" > 
            <img src="../../assets/writing-poetry.jpg" alt="..." class="img-thumbnail">
        </div>
        
        
        <div class="col-lg-6">
          <p>Writing poetry is more of a passion for me. I feel like grasping someone's emotions into words is a beautiful capability and I'm glad I have the ability and willingness to do so.</p>
        </div>
        
        </div>


        <div class="container" style="margin-bottom: 50px;">
          <div class="row">
          <div class="intro col-lg-6" > 
              <img src="../../assets/watching.jpg" alt="..." class="img-thumbnail">
          </div>
          
          
          <div class="col-lg-6">
            <p>I absolutely love watching movies and I can binge-watch all day. Movies and shows keep me hooked and I like shows which address the current issues being faced by the youth. </p>
          </div>
          
          </div>

      </div>
      </div>
        
    
