<div style= "margin-top: 50px;">
  <h1 style= "text-align: center;">Something you'd like to say?</h1>
    <form>      
    <input name="name" type="text" class="feedback-input" placeholder="Name" />   
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
    <input type="submit" value="SUBMIT"/>
  </form>
  </div>